@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.single {
  &-post {
    padding: 5rem 0;
    @include tablet {
      padding: 5rem 2.5rem;
    }
    @include desktop {
      display: flex;
      height: auto;
      position: relative;
    }
    &-details {
      padding: 0.75rem 1rem;
      display: flex;
      align-items: center;
      @include desktop {
        position: absolute;
        top: 0.5rem;
        left: 1.6rem;
      }
      &__arrow {
        display: none;
        @include desktop {
          display: flex;
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
      }
    }
    &__profile {
      object-fit: cover;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
      @include desktop{
        width: 3rem;
        height: 3rem;
      }
    }
    &__username {
      margin: 0;
      padding: 0 0.5rem;
      font-family: $jost-med;
      @include desktop {
        font-size: 1.5rem;
      }
    }
    &__img {
      width: 100%;
      object-fit: cover;
      height: auto;
      @include tablet {
        max-height: 40rem;
        border-radius: 1rem;
      }
      @include desktop {
        width: 60%;
        height: auto;
      }
    }
    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__comment {
      margin-top: 0.15rem;
    }
    &__like {
      margin-left: 0.5rem;
      &-container {
        display: flex;
        justify-content: flex-end;
        padding: 0.125rem 1.5rem;
        @include desktop {
          display: none;
        }
        &-bottom {
          display: flex;
          width: 100%;
          padding: 0.125rem 1.5rem;
          align-items: center;
          padding: 0 0.75rem;
          &__like {
            display: none;
            @include desktop {
              display: flex;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
    &__desc {
      padding: 0 1rem;
      margin-bottom: 2rem;
      @include desktop {
        font-size: 1.25rem;
        padding: 1rem;
      }
      &-username {
        font-family: $jost-semi;
        margin: 0;
      }
      &-txt {
        font-family: $jost-light;
      }
    }
    &__comments {
      padding: 0 1rem;
      padding-bottom: 1.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      &-container {
        @include desktop {
          width: 40%;
        }
      }
      @include desktop {
        display: flex;
        align-items: center;
      }
      &__title {
        margin: 0;
        padding: 1rem;
        font-size: 1.05rem;
        font-family: $jost-semi;
        // background-color: rgba(21, 110, 227, 0.3);
      }
      &__img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }
      &__username {
        font-family: $jost-semi;
        margin: 0;
      }
      &__txt {
        font-family: $jost-light;
        margin: 0;
      }
    }
  }
}
