// Screen Sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// Fonts
$jost-light: "Jost Light";
$jost-reg: "Jost Regular";
$jost-med: "Jost Medium";
$jost-semi: "Jost Semi-Bold";
$jost-bold: "Jost Bold";