@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.post-feed__comments {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    padding: 0 1rem;
  }
  &__title {
    display: none;
    padding: 0 1rem;
    font-family: $jost-med;
    @include desktop {
      padding: 0 .75rem;
    }
  }
  &__img {
    padding: 0 1rem;
    @include desktop {
      padding: 0;
    }
  }
  &__txt {
    padding: 0 1rem;
    @include desktop {
      padding: 0;
    }
  }
}
