@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.post-feed__comments {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    padding: 0 1rem;
  }
  &__single {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    // border: 2px solid $space-cadet;
  }
  &__txt {
    padding: 0 0.5rem;
    font-family: $jost-light;
  }
  &__username {
    font-family: $jost-med;
    font-size: 1.125rem;
  }
}
